<%- include("../header.ejs", {title:"White Wines - " + result[0].redName}); %>
<h1> <%= result[0].redName%> </h1>
<ul>
    <li>Red Year: <%= result[0].redYear %></li>
    <li> Description: <%= result[0].description %> </li>
</ul>

<a href="/whiteWine/all"><< back</a>

<%- include("../footer.ejs"); %>