<style>
    a:link {
        color: darkcyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: darkslategrey;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
<%- include("../header.ejs", {title:"Customers in our Inventory"}); %>

<h1>Customers</h1>
<p> Below are the customers who have ordered wine from our compnay. They may or may not be a wine club member. That information is known only if you click on
his or her name. We do special promotions, so please be on the lookout for people who aren't members who might benefit from one! (: </p>
<br />
<a href="/customer/add"> Add New Customer</a>
<br />
<div style="color:crimson">
    <% if (recentChange) { %>
    Recent Change: <%=recentChange%>
    <% } %>
</div>
<br/>

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/customer/?customerNumber=<%= result[i].customerNumber %>"><%= result[i].firstName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/customer/edit/?customerNumber=<%= result[i].customerNumber %>'">Edit</button>
            <form action="/customer/delete/" style="display:inline;">
                <input type="hidden" name="customerNumber" id="customerNumber" value="<%= result[i].customerNumber %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../footer.ejs"); %>