<style>
    a:link {
        color: darkcyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: darkslategrey;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
<%- include("../header.ejs", {title:"Customers in our Inventory"}); %>

<h1>Customers</h1>
<a href="/customer/add">Add New Customer</a> <br />
<div style="color:blue">
    <% if (recentChange) { %>
    Recent Change: <%=recentChange%>
    <% } %>
</div>

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/customer/?customerNumber=<%= result[i].customerNumber %>"><%= result[i].firstName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/customer/edit/?customerNumber=<%= result[i].customerNumber %>'">Edit</button>
            <form action="/customer/delete/" style="display:inline;">
                <input type="hidden" name="customerNumber" id="customerNumber" value="<%= result[i].customerNumber %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../footer.ejs"); %>