<%- include("../header.ejs"); %>
<h1>Update <%= whiteWine.whiteName%></h1>
<form action="/whiteWine/update" method="get">
    <input type="hidden" id="whiteBottleNumber" name="whiteBottleNumber" value="<%= whiteWine.whiteBottleNumber %>">
    Name: <input id="whiteName" name="whiteName" type="text" value="<%= whiteWine.whiteName%>"/>
    <br />
    <br />
    Year: <input id="whiteYear" name="whiteYear" type="text" value="<%= whiteWine.whiteYear%>"/>
    <br />
    <br />
    Bottles Available: <input id="numberWhiteAvail" name="numberWhiteAvail" type="text" value="<%= whiteWine.numberWhiteAvail%>"/>
    <br />
    <br />
    Description: <input id="description" name="description" type="text" value="<%= whiteWine.description%>"/>
    <br />
    <br />
    <input type="submit"/>

</form>
<%- include("../footer.ejs"); %>

</html>