<h1>Update <%= whiteWine.whiteName%></h1>
<form action="/whiteWine/update" method="get">
    <input type="hidden" id="whiteBottleNumber" name="whiteBottleNumber" value="<%= whiteWine.whiteBottleNumber %>">
    White Name: <input id="whiteName" name="whiteName" type="text" value="<%= whiteWine.whiteName%>"/>
    <br />
    <br />
    Year <br />
    <select id="whiteYear" name="whiteYear" multiple="multiple">
        <% for(var i=0; whiteYear.length > i; i++ ) {
            var selected = "";

            if(whiteYear[i].whiteBottleNumber != null) {
                selected = "selected";
            }
        %>
        <option value="<%= whiteYear[i].whiteBottleNumber %>" <%= selected %> ><%= whiteYear[i].  %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#whiteBottleNumber').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>