<%- include("../header.ejs"); %>
<style>
    a:link {
        color: darkcyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: darkslategrey;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<h1>Update <%= shippingDept.orderNumber%></h1>
<form action="/shippingDept/update" method="get">
    <input type="hidden" id="orderNumber" name="orderNumber" value="<%= shippingDept.orderNumber %>">
    Customer: <input id="customerNumber" name="customerNumber" type="text" value="<%= shippingDept.customerNumber%>"/>
    <br />
    <br />
    DateShipped: <input id="dateShipped" name="dateShipped" type="timestamp" value="<%= shippingDept.dateShipped%>"/>
    <br />
    <br />
    <input type="submit"/>

</form>
<%- include("../footer.ejs"); %>

</html>